.container > header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  & > img {
    height: 3rem;
    object-fit: contain;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin: 1rem auto 1.25rem;
  height: 3.5rem;
  border-radius: 0.75rem;
  outline: 1px solid var(--gray-400);
  background-color: var(--gray-300);
  color: var(--gray-700);
  
  &:hover,
  &:has(input:focus) {
    outline: 1.5px solid var(--pink);
    outline-offset: 0.1px;
  }  
  
  & input {
    appearance: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    
    padding: 0.5rem;
    padding-left: 0.75rem;

    &::placeholder {
      color: var(--gray-500);
    }
  }

  & button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--gray-700);
    opacity: 60%;
    display: grid;
    place-items: center;
  
    & i {
      font-size: 1.25rem;
      color: var(--white);
  
    }
  }
}

@media (width >= 45em) {
  .input-wrapper {
    max-width: 25rem;
  }
}

@media (width >= 60em) {
  .container > header {
    padding-top: 4rem;
  }
  
  .input-wrapper {
    margin: 2rem auto 4rem;
  }
}
